:root {
  --cor-magenta: #D24896;
  --cor-anil: #0F07AF;
  --cor-cinza-escuro: #4F5A64;
  --cor-cinza-claro: #A6A6A6;
}

@font-face {
  font-family: 'light';
  src: url('../fonts/Montserrat-ExtraLight.ttf');
}
 @font-face {
   font-family: 'bold';
   src: url('../fonts/Montserrat-ExtraBold.ttf');
 }

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
  }

  .cabecalho-chaves {
    font-family: 'bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--cor-cinza-claro);
    font-size: 80px;
  }
  
  .cabecalho-nevegacao {
    font-family: 'bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--cor-cinza-escuro);
    display: flex;
    gap: 60px;
    font-size: 25px; 
  }

  .conteudo {
    border-top: 2px solid var(--cor-magenta);    
   }

  .conteudo-apresentacao {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .conteudo-apresentacao-foto {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  }

  .conteudo-apresentacao-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .conteudo-apresentacao-titulo {
    color: var(--cor-cinza-escuro);
    font-family: 'bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding: 70px 0 0;
  }

  .conteudo-apresentacao-subtitulo {
    color: var(--cor-magenta);
    font-family: 'light', Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-bottom: 20%;
  }

  .conteudo-apresentacao-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
  }

  .conteudo-apresentacao-botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .conteudo-apresentacao-botao {
    background-color: var(--cor-cinza-escuro);
    font-family: 'light', Arial, Helvetica, sans-serif;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    font-weight: 200;
    font-size: 17px;
    color: #fff;
  }

  .conteudo-apresentacao-botao:hover {
    background-color: var(--cor-magenta);
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px;
    gap: 15%;
  }

  .conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .conteudo-principal-titulo {
    font-weight: 800;
    font-size: 30px;
  }  

  .conteudo-principal-subtitulo {
    font-weight: 600;
    font-size: 22px;
  }

  .lista-principal {
    font-size: 20px;
    margin-left: 5%;
  }

  
  

  